<!-- Menu Start -->
<div class="container-fluid menu bg-light py-6 my-6">
    <div class="container">

        
       
            <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
                <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Our Menu</small>
                <h1 class="display-5 mb-5">Most Popular Food in the World</h1>
            </div>
      
            <div class="tab-class text-center">


            <ul class="nav nav-pills d-inline-flex justify-content-center mb-5 wow bounceInUp" data-wow-delay="0.1s">
                @foreach (var dr in ViewBag.CategoryList)
                {
                    <li class="nav-item p-2">
                        <a class="d-flex py-2 mx-2 border border-primary bg-white rounded-pill" data-bs-toggle="pill" href="#@(dr.CategoryName)">
                            <span class="text-dark" style="width: 150px;">@(dr.CategoryName)</span>
                        </a>
                    </li>
                }
            </ul>




            <div class="row">
                @foreach (var menuItem in ViewBag.Menu_ItemsList)
                {
                    <div class="col-lg-6 mb-4">
                        <div class="tab-content">
                            <div id="@menuItem.CategoryName" class="tab-pane fade show p-0 active">
                                <div class="row g-4">
                                    <div class="col-lg-12 wow bounceInUp" data-wow-delay="0.1s">
                                        <div class="menu-item d-flex align-items-center">
                                            <img height="120" width="120" class="flex-shrink-0 img-fluid rounded-circle me-3" src="@menuItem.MenuImg" alt="Menu image">
                                            <div class="w-100 d-flex flex-column text-start ps-4">
                                                <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                                    <h4 class="mb-0">@menuItem.MenuItemName</h4>
                                                    <h4 class="text-primary mb-0">₹ @menuItem.Price</h4>
                                                </div>
                                                <p class="mb-0">@menuItem.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- Menu End -->
         




         


                       
                    
        
            
            

        </div>
        
</div>
</div>