@using System.Collections
@using System.Data
@{
    Layout = "~/Areas/Layout/_AreaLayout.cshtml";

}

@model IEnumerable<Online_Food.Areas.Category.Models.CategoryModel>;

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>

}
@if (TempData["DeleteMessage"] != null)
{
    <div class="alert alert-danger">@TempData["DeleteMessage"]</div>
}
@if (TempData["MessageFKReference"] != null)
{
    <div class="alert alert-danger">@TempData["MessageFKReference"]</div>
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Add your meta tags and title here -->
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <h3>Search Category</h3>
                        </h5><br />

                        <!-- Search Form -->
                        <form class="" role="form" asp-action="CategorySearch" asp-controller="Category" asp-area="Category">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row g-3">
                                        <div class="col-12 col-sm-6 col-lg-4">
                                            <label class="form-label">CategoryName:</label>
                                            <input type="text" name="CategoryName" class="form-control dt-input dt-full-name" data-column="1" placeholder="CategoryName" data-column-index="0" fdprocessedid="2u7jd">
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-4">
                                            <label class="form-label">CategoryType:</label>
                                            <input type="text" name="CategoryType" class="form-control dt-input dt-full-name" data-column="1" placeholder="CategoryType" data-column-index="0" fdprocessedid="2u7jd">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button class="m-3 btn btn-outline-success" type="submit">Search</button>
                            <button class="m-3 btn btn-outline-dark" type="submit" asp-action="CategorySearch" asp-controller="Category" asp-area="Category">Clear</button>
                        </form>
                        <!-- End Search Form -->
                    </div>
                </div>
            </div>

            <!-- Users List Card -->
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <h3>CategoryList</h3>
                        </h5><br />


                        <!-- Add Users Button -->
                        <div class="nav-link ml-auto">
                            <a class=" btn btn-outline-success" asp-area="Category" asp-controller="Category" asp-action="CategoryAddEdit">+ Add Category</a>
                        </div>


                        <!-- Table with stripped rows -->
                        <div class="table-responsive">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">CategoryID</th>
                                        <th scope="col">CategoryName</th>
                                        <th scope="col">CategoryType</th>
                                        <th scope="col">Created</th>
                                        <th scope="col">Modified</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                @foreach (var dr in Model)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@dr.CategoryID</td>
                                            <td>@dr.CategoryName</td>
                                            <td>@dr.CategoryType</td>
                                            <td>@Convert.ToDateTime(dr.Created).ToString("dd-MM-yyyy")</td>
                                            <td>@Convert.ToDateTime(dr.Modified).ToString("dd-MM-yyyy")</td>

                                            <td>
                                                <form method="post" asp-area="Category" asp-controller="Category" asp-action="CategoryDetails" asp-route-CategoryID="@dr.CategoryID">
                                                    <button type="submit" class="btn btn-outline-success"><i class="ti-file btn-icon-append"></i></button>
                                                </form>
                                            </td>
                                            <td>

                                                <a type="button" asp-area="Category" asp-controller="Category" asp-action="DeleteCategory" asp-route-CategoryID="@dr.CategoryID" class="btn btn-outline-danger"><i class="ti-trash btn-icon-append"></i></a>



                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
            <!-- End Users List Card -->
        </div>
    </div>
</body>

</html>